* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  background-color: rgb(43, 43, 43);
  text-align: center;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Montserrat;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-music {
  background-color: #00d8ff;
}

/*! GAMES */
/*? Header */

.header-music {
  height: 20vh;
}
.h1-games {
  /* color: ; */
  font-size: 60px;
  padding: 0.5em;
  text-shadow: 0px 0px 10px #00d8ff;
}

.title {
  font-size: 100px;
  text-shadow: 0px 0px 10px black;
}

/* .dropdowns {
  background-color: #00d8ff;
} */
.ddm {
  background-color: #00d8ff;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1em 4em 1em 4em;
  padding: 0.5em;
  width: 15em;
}

/* //? header buttons */
.header-btn-login {
  background-color: #00c7eb;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5em 3em;
  margin: 2em;
  /* width: 11em; */
  font-weight: 600;
  font-size: 1em;
  box-shadow: 0px 0px 5px 1px black;
  text-shadow: 0px 2px 4px black;
  text-decoration: none;
}
.header-btn-login:hover {
  background-color: rgb(89, 0, 255);
  color: #00d8ff;
  border: 1px solid rgb(89, 0, 255);
  box-shadow: 0px 0px 5px 2px rgb(89, 0, 255);
  text-shadow: 0px 2px 5px black;
}
.header-btn-login:active {
  padding-bottom: 0.5em;
  margin: 0.9em;
  font-size: 0.9em;
  transition: 0.1s ease;
  color: #00d8ff;
}
.header-btn-login:visited {
  color: black;
}


.header-btn-games {
  background-color: #00c7eb;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5em 3em;
  margin: 2em;
  /* width: 11em; */
  font-weight: 600;
  font-size: 1em;
  box-shadow: 0px 0px 5px 1px black;
  text-shadow: 0px 2px 4px black;
  text-decoration: none;
}
.header-btn-games:hover {
  background-color: blue;
  color: #00d8ff;
  border: 1px solid blue;
  box-shadow: 0px 0px 5px 2px blue;
  text-shadow: 0px 2px 5px black;
}
.header-btn-games:active {
  padding-bottom: 0.5em;
  margin: 0.9em;
  font-size: 0.9em;
  transition: 0.1s ease;
  color: #00d8ff;
}
.header-btn-games:visited {
  color: rgb(0, 0, 0);
}



.header-btn-music {
  background-color: #00c7eb;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5em 3em;
  margin: 2em;
  /* width: 11em; */
  font-weight: 600;
  font-size: 1em;
  box-shadow: 0px 0px 5px 1px black;
  text-shadow: 0px 2px 4px black;
  text-decoration: none;
}
.header-btn-music:hover {
  background-color: orange;
  color: #00d8ff;
  border: 1px solid orange;
  box-shadow: 0px 0px 5px 2px orange;
  text-shadow: 0px 2px 5px black;
}
.header-btn-music:active {
  padding-bottom: 0.5em;
  margin: 0.9em;
  font-size: 0.9em;
  transition: 0.1s ease;
  color: #00d8ff;
}
.header-btn-music:visited {
  color: black;
}
























































/*? Form */
.form-games {
  height: 18vh;
}

.input-games {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid #00d8ff;
  background-color: black;
  color: #00d8ff;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 0.9em;
  font-weight: 600;
  background-color: black;
  display: inline-block;
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5em;
  border: 1px solid black;
  color: #00d8ff;
  box-shadow: 0px 0px 5px #00d8ff;
}

.inputfile:focus + label,
.inputfile + label:hover {
  box-shadow: 0px 0px 5px 1px #00d8ff;
  color: black;
  background-color: #00d8ff;
  border: 1px solid #00d8ff;
}
.inputfile:active + label,
.inputfile + label:active {
  padding: 0.4em;
  /* margin-top: 0.4em; */
  transition: 0.1s ease;
}
.input-search {
  background-color: #161616;
}

input:focus {
  outline: none;
  /* border: 2px solid #00a0bd; */
}
.input-rating {
  width: 10em;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
  border: 1px solid #00d8ff;
  background-color: black;
  color: #00d8ff;
}

.formbtn {
  background-color: black;
  color: #00d8ff;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #00d8ff;
  margin: 1em;
  font-family: Montserrat;
  font-weight: 600;
  box-shadow: 0px 0px 5px #00d8ff;
  width: 10em;
}
.formbtn:hover {
  box-shadow: 0px 0px 5px 1px #00ff0d;
  color: black;
  background-color: #00ff0d;
  font-weight: 700;
}
.formbtn:active {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  transition: 0.1s ease;
  margin: 1em;
}
.btn-active {
}

/*? Game List */
.del-btn {
  background-color: black;
  color: #00d8ff;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #00d8ff;
  margin: 1em;
  width: 7em;
  box-shadow: 0px 0px 5px #00d8ff;
}

.edit-btn {
  background-color: black;
  color: #00d8ff;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #00d8ff;
  margin: 1em;
  width: 7em;
  box-shadow: 0px 0px 5px #00d8ff;
}

.del-btn:hover {
  background-color: #ff0000;
  color: black;
  box-shadow: 0px 0px 5px #ff0000;
  border: 1px solid red;
}
.edit-btn:hover {
  background-color: #fbff00;
  color: black;
  box-shadow: 0px 0px 5px #fbff00;
  border: 1px solid #fbff00;
}
.edit-btn:active {
  padding: 0.2em;
  transition: 0.1s ease;
}
.del-btn:active {
  padding: 0.2em;
  transition: 0.1s ease;
}
.ul-games {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #a8a8a8;
  list-style: none;
  font-size: 17px;
  text-shadow: #56e6ff 0px 0px 4px;
  color: #00d8ff;
  width: 100%;
  padding: 1em 0;
  margin: 0;
  justify-content: space-around; /* Karten gleichmäßig verteilen */
}

.gamelist-entry {
  flex: 1 1 calc(20% - 10px); /* 20% des Containers minus den Abständen */
  margin: 5px; /* Abstand zwischen den Karten */
  box-sizing: border-box; /* Padding und Border in die Breitenberechnung einbeziehen */
}

.card {
  /* border: 2px solid #0400ff; */
  border-radius: 5px;
  /* height: 100%;  */
  box-sizing: border-box; /* Padding und Border in die Breitenberechnung einbeziehen */
}

.entry-image {
  /* border: 2px solid rgb(183, 0, 255); */
}

.entry-title {
  border: 1px solid #00d8ff;
  border-bottom: none;
  border-radius: 2px;
  box-shadow: 0px -1px 3px 0px #00d8ff;
}

.entry-text {
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 2px solid red; */
  text-align: center;
}

/*! MUSIC */
/*? Header  */
